<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center pad-30">
			<!-- Changing Logo / Weather Icon -->
			<div class="animated slideInDown" ng-hide="vm.gotWeather">
				<div class="logo" ng-hide="vm.gotError"></div>
				<div class="error-logo animated slideInDown" ng-show="vm.gotError"></div>
			</div>
			<!-- Weather Icon -->
			<div class="animated fadeIn" ng-show="vm.gotWeather" ng-cloak>
				<i class="owf" ng-class="vm.iconID"></i>
			</div>
			<!-- Changing Text based on progress within home.controller -->
			<h1>{{vm.title}}</h1>
			<h4 class="animated fadeIn">{{vm.status}}</h4>

			<div ng-show="vm.showProgress" class="spinner"></div>

			<div ng-show="vm.gotWeather" class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<h3 class="weather-details animated fadeIn">{{vm.temp}}</h3>
					<a class="margin-y-30 btn btn-lg btn-default" ng-click="vm.getLocation()">Check again</a>
				</div>
			</div>

			<a ng-show="vm.gotError" class="margin-y-30 btn btn-lg btn-default" ng-click="vm.getLocation()">Try Again</a>

		</div>
	</div>
	<div ng-show="vm.gotError" class="row text-center">
		<div class="col-sm-12 margin-y-30 ">
			<p class="opacity-50" ng-hide="vm.geoFailAgain"><em>Hmm, a rubber chicken with a pully in the middle. What possible use could that have?</em></p>
			<p ng-show="vm.geoFailAgain">Nope sorry, geolocation is still not working. Try a bigger antenna, that always works. If you get wet and the sky is flashing abandon this activity immediately.</p>
		</div>
	</div>
</div>