body,
body.weather-nil {
	font-family: 'Droid Sans', sans-serif;
	background: #F5DB16;
	color: #333;
	min-width: 300px;
}

body[class*="weather-2"] {
	background: #666;
	color: #fff;
	/* Thunderstorms */
}

body[class*="weather-6"] {
	background: #fff;
	color: #3498DB;
	/* Snow */
}

body[class*="weather-7"] {
	background: #F5D589;
	/* Mist or Smoke */
}

body[class*="weather-80"],
body[class*="weather-95"] {
	background: #3498DB;
	color: #fff;
	/* Conditions sunny up to partly cloudy, including windy */
}

body[class*="weather-3"],
body[class*="weather-5"],
body.weather-804 {
	background: #ccc;
	color: #333;
	/* Overcast and Raining */
}

body.weather-800 .owf {
	color: #F5DB16;
	opacity: 1;
	/* Make the sun yellow */
}

body[class*="weather-90"],
body.weather-957,
body.weather-958,
body.weather-959,
body[class*="weather-96"] {
	background: #E74C3C;
	color: #fff;
	/* Dangerous conditions e.g. storm, tornado */
}


/* TYPOGRAPHY */

h1 {
	font-family: 'Paytone One', sans-serif;
}


/* LOGO SECTION */

.logo,
.error-logo {
	min-height: 200px;
}

.logo {
	background: url('../images/chicken-little.png') no-repeat center center;
	background-size: contain;
}

.error-logo {
	background: url('../images/chicken-error.png') no-repeat center center;
	background-size: contain;
}

.owf {
	font-size: 20rem;
	opacity: 0.7;
}

.owf:hover {
	opacity: 1;
}


/* BUTTONS */

.btn-default,
.btn-default:hover {
	border: 2px solid #fff;
	border-radius: 0;
	background: transparent;
	color: #fff;
}

.btn-default:hover {
	background: #fff;
	color: #333;
}

body[class*="weather-6"] .btn-default,
body[class*="weather-6"] .btn-default:hover {
	border-color: #3498DB;
	color: #3498DB;
}

body[class*="weather-6"] .btn-default:hover {
	background: #3498DB;
	color: #fff;
}


/* TRANSITIONS */

body,
.btn-default,
.btn-default:hover,
.owf,
.owf:hover {
	transition: all 0.5s ease;
}


/* MARGIN Y */

.margin-y-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}


/* PADDING */

.pad-30 {
	padding: 30px;
}


/* SPINNER / LOADER / PROGRESS */

.spinner {
	width: 100px;
	height: 100px;
	margin: 30px auto;
	background-color: #333;
	border-radius: 100%;
	-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
	animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0)
	}
	100% {
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}

@keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
		opacity: 0;
	}
}


/* GENERAL */

#monkey {
	opacity: 0.5;
}